.elementor-105 .elementor-element.elementor-element-8ec1e5c>.elementor-container {
    max-width: 1200px;
}

.elementor-105 .elementor-element.elementor-element-8ec1e5c {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #DDDDDD;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 1% 7% 0% 7%;
    z-index: 0;
}

.elementor-105 .elementor-element.elementor-element-8ec1e5c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-850b292>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-105 .elementor-element.elementor-element-230dfff {
    text-align: center;
}

.elementor-105 .elementor-element.elementor-element-230dfff .elementor-heading-title {
    color: #ADADAD;
    font-family: "Poppins", Roboto;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-105 .elementor-element.elementor-element-230dfff>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-105 .elementor-element.elementor-element-230dfff.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-11cbce0 {
    --e-image-carousel-slides-to-show: 6;
}

.elementor-105 .elementor-element.elementor-element-11cbce0 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-105 .elementor-element.elementor-element-11cbce0>.elementor-widget-container {
    padding: 20px 0px 20px 0px;
}

.elementor-105 .elementor-element.elementor-element-11cbce0.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-928bd27 {
    text-align: center;
}

.elementor-105 .elementor-element.elementor-element-928bd27 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px;
}

.elementor-105 .elementor-element.elementor-element-928bd27.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-532ad2d {
    margin-top: 0px;
    margin-bottom: 30px;
}

.elementor-105 .elementor-element.elementor-element-299e4c0>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-299e4c0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-1e0778c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-1e0778c.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-cc28b7f .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-cc28b7f.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-249f35e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-249f35e.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-0c4509c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-0c4509c.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-fa70b7a>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-fa70b7a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-c5cc95f .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-c5cc95f.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-47158f3 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-47158f3.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-9ae3b6e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-9ae3b6e.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-818662e .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-818662e.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-5083b45>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-5083b45>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-15afac7 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-15afac7.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-4300ee0 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-4300ee0.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-be97e5d .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-be97e5d.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-16685fd .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-16685fd.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-64f0015 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.elementor-105 .elementor-element.elementor-element-4aadc33>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-4aadc33>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-535b04f .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-535b04f.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-2a09106 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-2a09106.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-df808f4 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-df808f4.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-da477e5 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-da477e5.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-0ecd929 .elementor-button {
    font-family: "Roboto", Roboto;
    font-size: 18px;
    font-weight: 300;
}

.elementor-105 .elementor-element.elementor-element-0ecd929 .elementor-button:hover,
.elementor-105 .elementor-element.elementor-element-0ecd929 .elementor-button:focus {
    background-color: var( --e-global-color-secondary);
}

.elementor-105 .elementor-element.elementor-element-0ecd929.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-9314912>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-9314912>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-f170df7 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-f170df7.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-7e1a063 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-7e1a063.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-21a8cb5 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-21a8cb5.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-56793a1 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-56793a1.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-6946443 {
    --spacer-size: 5px;
}

.elementor-105 .elementor-element.elementor-element-6946443.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-841c5f4 .elementor-button {
    font-family: "Roboto", Roboto;
    font-size: 18px;
    font-weight: 300;
}

.elementor-105 .elementor-element.elementor-element-841c5f4 .elementor-button:hover,
.elementor-105 .elementor-element.elementor-element-841c5f4 .elementor-button:focus {
    background-color: var( --e-global-color-secondary);
}

.elementor-105 .elementor-element.elementor-element-841c5f4.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-5764cfa>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-5764cfa>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-dee526c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-dee526c.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-9a63c31 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-9a63c31.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-a2017a6 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-a2017a6.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-dfc47d8 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-dfc47d8.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-1909164 .elementor-button {
    font-family: "Roboto", Roboto;
    font-size: 18px;
    font-weight: 300;
}

.elementor-105 .elementor-element.elementor-element-1909164 .elementor-button:hover,
.elementor-105 .elementor-element.elementor-element-1909164 .elementor-button:focus {
    background-color: var( --e-global-color-secondary);
}

.elementor-105 .elementor-element.elementor-element-1909164.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-0163b1a .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-0163b1a.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-c6bd2e9 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-c6bd2e9.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-d844878 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-d844878.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-b851425>.elementor-container {
    min-height: 220px;
}

.elementor-105 .elementor-element.elementor-element-b851425 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.elementor-105 .elementor-element.elementor-element-21c245c>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-21c245c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-ed397c3 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-ed397c3.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-d939642 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-d939642.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-d9ebc1d .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-d9ebc1d.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-12000e2 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-12000e2.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-c5c4f66>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-c5c4f66>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-603b860 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-603b860.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-461323c .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-461323c.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-1fb2f7e>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-1fb2f7e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-c5124f2 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-c5124f2.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-6f7bf76 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-6f7bf76.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-c9c0dc6>.elementor-container {
    min-height: 220px;
}

.elementor-105 .elementor-element.elementor-element-c9c0dc6 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.elementor-105 .elementor-element.elementor-element-f0d1743>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-f0d1743>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-cf50904 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-cf50904.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-2b64b02 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-2b64b02.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-5ca8d77 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-5ca8d77.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-8b47289>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-8b47289>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-792ae15 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-792ae15.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-863ebae .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-863ebae.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-4eb2c96>.elementor-element-populated {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #E3E3E3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    --e-column-margin-right: 3%;
    --e-column-margin-left: 3%;
    padding: 5% 5% 5% 5%;
}

.elementor-105 .elementor-element.elementor-element-4eb2c96>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-105 .elementor-element.elementor-element-c0da1e1 .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-c0da1e1.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-fd486ae .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Roboto;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

.elementor-105 .elementor-element.elementor-element-fd486ae.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-884f7ff {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2);
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(30px/2);
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(30px/2);
    margin-left: calc(30px/2);
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-30px/2);
    margin-left: calc(-30px/2);
}

body.rtl .elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-30px/2);
}

body:not(.rtl) .elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-30px/2);
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    border-color: #ddd;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 2px;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 2px;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-105 .elementor-element.elementor-element-8177759 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-icon {
    padding-right: 1px;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-item>a {
    font-family: "Poppins", Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-text {
    color: #B2B2B2;
    transition: color 0.3s;
}

.elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #7E7E7E;
}

.elementor-105 .elementor-element.elementor-element-8177759>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #DDDDDD;
}

.elementor-105 .elementor-element.elementor-element-8177759.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2);
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(30px/2);
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(30px/2);
    margin-left: calc(30px/2);
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-30px/2);
    margin-left: calc(-30px/2);
}

body.rtl .elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-30px/2);
}

body:not(.rtl) .elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-30px/2);
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    border-color: #ddd;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 2px;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 2px;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-icon {
    padding-right: 1px;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-item>a {
    font-family: "Poppins", Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-text {
    color: #B2B2B2;
    transition: color 0.3s;
}

.elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #7E7E7E;
}

.elementor-105 .elementor-element.elementor-element-cc07f59>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #DDDDDD;
}

.elementor-105 .elementor-element.elementor-element-cc07f59.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2);
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(30px/2);
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(30px/2);
    margin-left: calc(30px/2);
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-30px/2);
    margin-left: calc(-30px/2);
}

body.rtl .elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-30px/2);
}

body:not(.rtl) .elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-30px/2);
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-item:not(:last-child):after {
    content: "";
    border-color: #ddd;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 2px;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 2px;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-105 .elementor-element.elementor-element-51e907b {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-icon {
    padding-right: 1px;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-item>a {
    font-family: "Poppins", Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-text {
    color: #B2B2B2;
    transition: color 0.3s;
}

.elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #7E7E7E;
}

.elementor-105 .elementor-element.elementor-element-51e907b>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #DDDDDD;
}

.elementor-105 .elementor-element.elementor-element-51e907b.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-8c4bdad.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-74ec74d .elementor-repeater-item-29689ff.elementor-social-icon {
    background-color: #B2B2B2;
}

.elementor-105 .elementor-element.elementor-element-74ec74d .elementor-repeater-item-b3abeee.elementor-social-icon {
    background-color: #B2B2B2;
}

.elementor-105 .elementor-element.elementor-element-74ec74d {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 9px;
    --grid-row-gap: 0px;
}

.elementor-105 .elementor-element.elementor-element-74ec74d .elementor-widget-container {
    text-align: center;
}

.elementor-105 .elementor-element.elementor-element-74ec74d .elementor-social-icon {
    --icon-padding: 0.5em;
}

.elementor-105 .elementor-element.elementor-element-74ec74d.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-1c0a815 {
    --spacer-size: 50px;
}

.elementor-105 .elementor-element.elementor-element-1c0a815.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

.elementor-105 .elementor-element.elementor-element-7df3d99:not(.elementor-motion-effects-element-type-background),
.elementor-105 .elementor-element.elementor-element-7df3d99>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-105 .elementor-element.elementor-element-7df3d99 {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #CCCCCC;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1% 0% 1% 0%;
    z-index: 0;
}

.elementor-105 .elementor-element.elementor-element-7df3d99>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-105 .elementor-element.elementor-element-1510722.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-105 .elementor-element.elementor-element-1510722.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-105 .elementor-element.elementor-element-80e5e1d {
    text-align: center;
    color: #B2B2B2;
    font-family: "Poppins", Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-105 .elementor-element.elementor-element-80e5e1d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-105 .elementor-element.elementor-element-80e5e1d.xpro-widget-bg-overlay>.elementor-widget-container:before {
    transition: background 0.3s;
}

@media(max-width:1024px) {
    .elementor-105 .elementor-element.elementor-element-230dfff>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:649px) {
    .elementor-105 .elementor-element.elementor-element-230dfff .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-105 .elementor-element.elementor-element-230dfff>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-105 .elementor-element.elementor-element-11cbce0 {
        --e-image-carousel-slides-to-show: 2;
    }
    .elementor-105 .elementor-element.elementor-element-928bd27 .elementor-heading-title {
        font-size: 17px;
    }
    .elementor-105 .elementor-element.elementor-element-928bd27>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-105 .elementor-element.elementor-element-6946443 {
        --spacer-size: 15px;
    }
    .elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-105 .elementor-element.elementor-element-8177759 .elementor-icon-list-item>a {
        font-size: 17px;
    }
    .elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-105 .elementor-element.elementor-element-cc07f59 .elementor-icon-list-item>a {
        font-size: 17px;
    }
    .elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-105 .elementor-element.elementor-element-51e907b .elementor-icon-list-item>a {
        font-size: 17px;
    }
    .elementor-105 .elementor-element.elementor-element-74ec74d .elementor-widget-container {
        text-align: center;
    }
    .elementor-105 .elementor-element.elementor-element-7df3d99 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
        z-index: 0;
    }
    .elementor-105 .elementor-element.elementor-element-80e5e1d {
        font-size: 17px;
    }
}